<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/icon.png" type="image/png">

    <link rel="stylesheet" href="/css/global.css">
    <title>Sobre</title>
</head>
<body>
    <%- include("./parts/page-header") %> 
    <main class="container">
        <div>
            <h1>
                Counter Strike:Poll Offensive
            </h1>
            <p class="text">
                Nós fazemos pesquisas sobre os mais diversos assuntos a respeito do jogo Counter Strike: Global Offensive, sendo a empresa oficialmente licenciada pela VALVE corp.
            </p>
            <p class="text">
                Nosso objetivo é contribuir para com que a comunidade e também a desenvolvedora do jogo possa saber de uma maneira confiável o pensamento dos jogadores. Dessa maneira, melhorias poderam ser feitas baseadas nos resultados dessas pesquisas.
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolore nihil sed quo veniam velit laudantium tempora, odio repellendus placeat officiis eius officia quos, corrupti soluta omnis quasi ipsum explicabo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nesciunt alias iusto unde nam dolor. Tempora nam ea repudiandae sint quo iste, recusandae commodi consequatur neque facere? Beatae, ratione eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit atque facilis quis qui! Necessitatibus tempora et sint, temporibus natus vel, enim quae odio consectetur impedit debitis! Quibusdam dignissimos animi delectus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero repellendus temporibus at iste accusamus alias voluptatibus excepturi dolore odio quam laborum fugiat, quis commodi doloremque ut consectetur in delectus nulla.
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, natus consequuntur ad earum ducimus reiciendis alias neque cum expedita qui error animi facere quae voluptates facilis adipisci eaque reprehenderit veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odit ducimus quisquam fuga at cupiditate corrupti. Quod perferendis tempora libero vero, soluta hic quibusdam placeat atque illo commodi, deserunt nobis.
            </p>
            <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde omnis consectetur tempora eaque! In, voluptate repudiandae cumque omnis quos iusto nisi, quidem, dolorem officia at saepe delectus consectetur dolorum laborum?
            </p>
        </div>
    </main>
</body>
</html>