<header>
    <a href="/"><img src="/images/logo.png" alt="CS:GO" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/results">Resultados</a></li>
            <li><a href="/apoie">Apoie-nos</a></li>
        </ul>
    </nav>
</header>